
/* Container*/
.container{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;

}
 
.cajaBack{
   width: 100%;
   padding: 10px 20px;
   display: flex;
   justify-content: center;
   background-color: rgba(255, 153, 0, 0.671);
}

.cajaBack div{
    margin: 100px 40px;
    color: rgb(43, 42, 42);
    transition: all 500ms;
}

.cajaBack div p,
.cajaBack div button{
    margin-top:  25px;
}

.cajaBack div h3{
    font-size: 26px;
    font-weight: 400;
}

.cajaBack button{
   padding: 10px 40px;
   border: 2px solid #fff;
   background: transparent;
   font-size:  14px;
   font-weight: 600;
   cursor: pointer;
   color: white;
   outline: none;
   transform: all 300ms;
}

.cajaBack button:hover{
   background: #fff;
   color: rgb(43, 42, 42);
}

/*Formlarios*/
.containerLogReg{
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 380px;
   position: relative;
   top: -130px;
   left: 240px;

   transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.containerLogReg form{
    width: 100%;
    padding: 50px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.082);
}

.containerLogReg form h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.containerLogReg form input{
   width: 100%;
   margin-top: 20px;
   padding: 10px;
   border: none;
   background: #f2f2f2;
   font-size: 16px;
   outline: none;
}

.containerLogReg form button{
 padding: 10px 40px;
 margin-top: 40px;
 border: none;
 font-size: 14px;
 background: #686969;
 color: white;
 outline: none;
 cursor: pointer;
}

.Formlog{
    opacity: 1;
    display: block;
}

.FormReg{
   display: none;
}

.btn{
    position: relative;
    display: block;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    width: 150px;
    height: 60px;
    font-size: large;
    margin-left: 10px;
    justify-content: center;
    background: #686969;
    color: white;
  }
.btn:hover{
    background: #f39c12;
    color: #111111;
  }